root = true

indent_style = space
insert_final_newline = false:none

[*.{cpp,h}]
charset = utf-8
indent_brace_style = Allman
indent_style = space
indent_size = 4

[*.xml]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true